.SCRPG.sheet.actor {
    h3 {
        border-bottom: none;
    }

    .editor {
        height: 6.25rem;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid $inputdarkgray;
        border-radius: 3px;

        p {
            margin: 0.25rem;
        }

        .tox .tox-tbtn {
            transform: scale(0.9);
            height: 18px;
            width: auto;
        }

        .tox.tox-tinymce .tox-tbtn[title="Formats"] {
            width: 80px;
        }

        .tox .tox-toolbar__group {
            padding: 0;
        }
    }

    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .box-border {
        border: 2px solid $black;
        box-shadow: 2px 2px $gray;
        margin-bottom: 4px;
    }

    .img-border {
        border: 2px solid $black;
        box-shadow: 2px 2px $gray;
    }

    .left-border {
        border-left: 1px solid $black;
    }

    .twocolgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .chargrid {
        display: grid;
        grid-gap: 4px;

        &-hero {
            grid-template-columns: 2fr 3fr;
        }

        &-villain {
            grid-template-columns: 2fr 4fr;
        }
    }

    .principles {
        background-color: $white;

        .editor {
            margin-bottom: 8px;
        }
    }

    .principle {
        padding: 4px;
    }

    .section-name {
        border: 1px solid $black;
        box-shadow: 2px 2px $black;
        padding: 2px;
        background: linear-gradient($titleorange, $titleyellow);

        input {
            all: unset;
            width: 100%;
        }

        &-principle {
            width: 75%;
        }

        &-powerquality {
            width: 75%;
            display: flex;
            height: 1.625rem;

            .buttons {
                margin-left: auto;
            }
        }

        &-ability {
            width: max-content;
            margin: 0;
        }

        &-formmode {
            width: max-content;
            max-width: 25%;
            overflow: hidden;
            margin: 0;
            border-radius: 0;
            font-size: 1.125em;
            font-family: "Signika", sans-serif;
        }

        &-divided {
            width: max-content;

            h3 {
                margin: 0;
            }
        }

        &-minion {
            width: 6rem;
            display: flex;

            .buttons {
                margin-left: auto;
            }

            h3 {
                margin: 0;
            }
        }

        &-mod {
            width: max-content;
            display: flex;

            h3 {
                margin: 0;
            }
        }
    }

    .principle-section {
        border-top: 2px dotted $black;
        border-bottom: 2px dotted $black;
        text-align: center;
    }

    .hero-img {
        height: 476px;
    }

    .villain-img {
        height: 235px;
    }

    .hero-img,
    .villain-img,
    .environment-img {
        background-color: $white;
        width: 100%;
        object-fit: scale-down;
    }

    .hero-info {
        h3 {
            color: $titleorange;
            margin: 0px;
        }

        h4 {
            color: $titlegray;
            display: inline;
        }

        .names,
        .physical,
        .characteristics {
            background-color: $orangebg;
        }
    }

    .villain-info {
        h3 {
            color: $redtxt;
            margin: 0px;
        }

        .names,
        .physical,
        .characteristics,
        .villain-health {
            background-color: $redbg;
        }
    }

    .char-info {

        table,
        th,
        td {
            border: 0px solid $black;
            margin-top: 0px;
            margin-bottom: 0px;
            background: inherit;
            padding: 4px;
        }

        table tr:nth-child(even) {
            background: inherit;
        }

        input {
            all: unset;
            width: 100%;
            text-align: center;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid $inputdarkgray;
            border-radius: 3px;
        }
    }

    .issues-grid {
        display: grid;
        grid-template-columns: 10.625rem 1fr 1fr;
        column-gap: 4px;
    }

    .hero-point,
    .back-issues,
    .collections {
        background-color: $bluebg;
        padding: 4px;

        h3 {
            color: $titleblue;
        }
    }

    .hero-point {
        input[type="checkbox"] {
            appearance: none;
            width: 20px;
            height: 12px;
            border: 1px solid $inputlightgray;
            background-color: $white;
            border-radius: 50%;
            margin: 0;
            padding: 0;
        }

        input[type="checkbox"]:checked {
            -webkit-filter: none;
            filter: none;
            background-color: $inputlightgray;
        }

        input[type="checkbox"]:hover:checked {
            background-color: $inputdarkgray;
        }

        input[type="checkbox"]:hover {
            border: 1px solid $inputdarkgray;
        }

        h3 {
            display: inline;
        }

        table,
        tr,
        td {
            margin: 0;
            padding: 0;
            border: 0px;
        }
    }

    .hero-point-grid {
        display: grid;
        grid-template-columns: 55% auto;
        border-bottom: 1px dotted $black;
    }

    .hero-point-grid-item {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .hero-point-two {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4px;
        place-content: center;
    }

    .hero-point-three {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 4px;
        place-content: center;
    }

    .hero-reward-grid {
        display: grid;
        grid-template-columns: 1.5625rem auto;
    }

    .hero-point-four {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 4px;
        place-content: center start;
    }

    .back-issues,
    .collections {
        input[type="text"] {
            border: 0;
            border-radius: 0;
            height: fit-content;
            background: inherit;
            width: 100%;
            border-bottom: 1px dotted $black;
            padding: 0px 4px;
        }

        input[type="checkbox"] {
            margin: 0;
            width: 16px;
            height: 16px;
            margin: auto;
        }

        .collection-grid {
            display: grid;
            grid-template-columns: 20px auto;
        }
    }

    .stats {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .status-dice {
        display: grid;
        grid-template-columns: 1fr 1fr;

        select {
            display: block;
        }

        select,
        .health-box {
            margin: 4px;
            text-align: center;
        }

        .health-box {
            padding: 2px;
            border-radius: 3px;
        }

        input {
            border: 1px solid $inputdarkgray;
        }
    }

    .divided-status {
        width: 190px;
        background-color: $white;

        h3 {
            text-align: center;
            margin: 0;
        }
    }

    .green-border {
        border: 2px solid $greenborder;
    }

    .yellow-border {
        border: 2px solid $yellowborder;
    }

    .red-border {
        border: 2px solid $redborder;
    }

    .black-border {
        border: 2px solid $black;
    }

    .power-list,
    .quality-list,
    .status-dice,
    .status,
    .villain-status-list {
        padding-left: 2px;
        padding-top: 4px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .powersqualities {
        background-color: $white;

        table,
        td,
        tr {
            margin: 0;
            padding: 0;
            border: 0px;
            background-color: inherit;
        }

        table {
            border-collapse: collapse;
            border-style: hidden;
        }

        table td {
            border: 1px solid $black;
        }
    }

    .top-align {
        vertical-align: top;
    }

    .power-item-selected,
    .quality-item-selected,
    .villain-status-item-selected {
        background-color: $lightgray;
    }

    .power-item,
    .quality-item,
    .villain-status-item {
        display: grid;
        grid-template-columns: auto 2.1875rem;
        border: 1px solid $inputdarkgray;
        border-radius: 3px;
        margin: 2px;
        padding: 2px;

        .name {
            max-width: 180px;
            overflow: hidden;
        }

        .center {
            text-align: center;
        }
    }

    .health {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .page {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .max-update {
        all: unset;
        width: 1.875rem;
        border: 1px solid $gray;
        white-space: nowrap;
        padding: 0;
    }

    .green-abilities {
        background-color: $greenbg;
    }

    .yellow-abilities {
        background-color: $yellowbg;
    }

    .red-abilities {
        background-color: $redbg;
    }

    .villain-abilities {
        background-color: $graybg;
    }

    .green-abilities,
    .yellow-abilities,
    .red-abilities,
    .villain-abilities {
        margin-top: 0;

        table {
            margin: 0;
        }

        td,
        tr,
        th {
            border: 1px dotted $black;
            padding: 4px;
        }

        p {
            margin: 0px;
        }
    }

    .out-box {
        background-color: $graybg;
        display: grid;
        grid-template-columns: auto 20px;

        .out-box-child:last-child {
            display: flex;
            border-left: 1px dotted $black;
            justify-content: center;
            align-items: center;
        }

        a {
            padding: 4px;
        }

        input {
            border-radius: 0;
            border: none;
        }
    }

    .quality {
        text-align: center;
    }

    .combined-roll {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 31% 31% 23% auto;
        text-align: center;
        align-items: center;
        background: $white;

        a {
            font-size: 1.25rem;
        }

        p {
            overflow: hidden;
        }

        p:first-child {
            max-width: 240px;
        }

        p:nth-child(2) {
            max-width: 240px;
        }

        p:nth-child(3) {
            max-width: 180px;
        }
    }

    .status {
        h4 {
            text-align: center;
            margin: 0;
        }

        select {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 4.5rem;
        }

        .current-health {
            display: flex;
            justify-content: center;

            input {
                width: 4.5rem;
                text-align: center;
                margin-bottom: 4px;
                margin-left: 8px;
            }

            .health-adjust {
                display: flex;
                flex-direction: column;
                font-size: 0.7rem;
                margin-left: 1px;
            }
        }
    }

    .forms {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-gap: 4px 4px;
    }

    .mode-card {
        padding: 10px;
        margin-bottom: 10px;
    }

    .mode-power {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .mode-name {
        width: 50%;
        display: grid;
        grid-template-columns: auto 2.1875rem 2.1875rem;
    }

    .mode-name-input {
        width: 100%;
        border-radius: 0;
        border: 0;
    }

    .mode-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .select-border {
        border: 4px solid green;
        margin-bottom: 4px;
    }

    .icon-position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .icon {
            text-align: center;
            vertical-align: middle;
            width: 14px;
            height: 14px;
            margin: 1px;
        }
    }

    .ability-table {
        display: grid;

        .ability-item,
        .ability-title {
            display: grid;
            grid-template-columns: 2.8125rem 8.4375rem 2.1875rem auto 1.25rem;
        }

        .ability-title {
            text-align: center;
            font-weight: bold;
        }

        .ability-title-child {
            padding: 4px;
        }

        .ability-item:nth-child(even) {
            background: rgba(255, 255, 255, 0.2);
        }

        .ability-item-child {
            border-top-style: dotted;
            border-width: thin;
            padding: 4px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .ability-title-child:not(:first-child),
        .ability-item-child:not(:first-child) {
            border-left-style: dotted;
            border-width: thin;
        }

        .ability-item-child:nth-child(1),
        .ability-item-child:nth-child(3),
        .ability-item-child:nth-child(5) {
            justify-content: center;
        }
    }

    .mode-name-col {
        width: 12.5rem;
    }

    .sheet-tabs {
        background-color: $lightgray;
    }

    .tabs .item.active {
        text-shadow: 0 0 10px var(--color-shadow-primary);
        font-weight: bold;
    }

    .auxiliary-item {
        display: grid;
        grid-template-columns: auto 6.25rem;
        align-items: center;
    }

    .auxiliary-table {
        table {
            width: auto;
            background-color: $white;
            margin: 0;
        }

        tr {
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
        }

        p {
            margin: 0;
        }

        td:nth-child(n) {
            width: 8.75rem;
        }
    }

    .environment {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 4px;
    }

    .environment-name {
        font-size: 1.5rem;
        color: $white;
        text-shadow: 0 0 2px $black, 0 0 2px $black, 0 0 2px $black, 0 0 2px $black;
    }

    .environment-title {
        padding: 4px;
        background-color: $titlegreen;

        select {
            text-align: center;
        }

        input {
            text-align: right;
        }

        select,
        input {
            font-weight: bold;
            background: rgba(0, 0, 0, 0.05);
            border: 0;
        }
    }

    .environment-dice {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-gap: 4px;
        padding: 4px;
        justify-content: end;

        a {
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .environmentTwist-item {
        display: grid;
        grid-template-columns: auto 50px;
        border-radius: 3px;
        margin-bottom: 4px;
        margin-left: 4px;
        margin-right: 4px;
        padding: 4px;

        p {
            margin: 0;
        }
    }

    .environment-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .green-twists {
        background-color: $greenbg;

        .twist-title-color {
            color: $darkgreen;
        }
    }

    .yellow-twists {
        background-color: $yellowbg;

        .twist-title-color {
            color: $darkyellow;
        }
    }

    .red-twists {
        background-color: $redbg;

        .twist-title-color {
            color: $darkred;
        }
    }

    .green-twists,
    .yellow-twists,
    .red-twists {
        padding: 4px;
    }

    .environment-img {
        height: 500px;
    }

    .twist-title {
        display: flex;

        h3 {
            font-weight: bold;
            margin-right: 10px;
        }
    }

    .nested-name {
        p:first-child {
            display: inline;
            font-weight: bold;
        }

        p:nth-child(2) {
            display: inline
        }
    }

    .heroMinion-list {
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        min-height: 7.5rem;
    }

    .heroMinion-item {
        width: 11.6875rem;
        margin: 4px;

        .minion-title {
            padding: 0;
            border-bottom: 2px $black solid;

            .minion-name {
                padding: 0;
                display: flex;
                background-color: $miniontitle;
                padding: 2px;

                h3 {
                    margin: 0;
                    max-width: 100px;
                    max-height: 1.25rem;
                    overflow: hidden;
                }
            }

            .minion-button {
                margin-left: auto;
            }
        }

        .minion-stats {
            th:first-child {
                width: 4.375rem;
            }

            td:nth-child(2) {
                text-align: center;
            }
        }
    }

    .minion-form-table {
        display: grid;

        .villain-minion-form-title,
        .villain-minionForm-parent {
            display: grid;
            grid-template-columns: 8.4375rem auto 1.25rem;
        }

        .minion-form-title,
        .minionForm-parent {
            display: grid;
            grid-template-columns: 8.4375rem auto 5.5rem 1.25rem;
        }

        .villain-minionForm-parent:nth-child(even),
        .minionForm-parent:nth-child(even) {
            background: rgba(255, 255, 255, 0.2);
        }

        .minion-form-title-child {
            text-align: center;
            font-weight: bold;
            padding: 4px;
        }

        .minionForm-child:nth-child(3),
        .minionForm-child:nth-child(4) {
            justify-content: center;
        }

        .minionForm-child {
            border-top-style: dotted;
            border-width: thin;
            padding: 4px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .minion-form-title-child:not(:first-child),
        .minionForm-child:not(:first-child) {
            border-left-style: dotted;
            border-width: thin;
        }
    }

    .buttons {
        a {
            vertical-align: middle;
        }
    }

    .mods {
        background-color: $white;
        margin-bottom: 4px;

        table {
            margin: 0;
            background-color: inherit;
        }

        td,
        th {
            border: 1px dotted $black;
        }

        th:first-child,
        td:first-child {
            width: 20%;
            vertical-align: top;

            .mod-dialogue,
            .mod-buttons {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .mod-buttons {
            display: grid;
            grid-template-columns: auto auto auto auto;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 40%;
        }

        td:nth-child(2),
        td:nth-child(3) {
            vertical-align: text-top;
        }

        .mod-buttons-child {
            width: 33px;
            height: 33px;
        }

        .mod-link {
            width: 28px;
            height: 28px;
            line-height: normal;
            text-align: center;
            margin: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                margin: 0;
                font-weight: bold;
            }

        }

        .mod-link:active {
            box-shadow: none;
            margin-top: 3px;
            margin-left: 3px;
        }
    }

    .penalties,
    .bonuses {
        display: flex;
        flex-wrap: wrap;

        .p-e-icon {
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            text-align: center;

            i {
                padding: 1px 0;
            }
        }
    }

    .mod-item {
        height: fit-content;
        margin: 4px;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        padding-left: 2px;
        padding-right: 2px;

        h3 {
            max-width: 100%;
            overflow: hidden;
            margin: 2px;
            font-weight: bold;
            text-align: center;
            font-size: 1.25rem;
        }

        .fa-trash {
            vertical-align: middle;
            margin: 2px;
        }
    }

    .mod-dialogue {
        display: flex;
        flex-direction: column;
        align-items: right;

        .mod-per-dialogue,
        .mod-exc-dialogue {
            margin-left: auto;
        }

        p {
            margin-left: auto;
            display: inline;
            vertical-align: middle;
            margin: 0;
        }

        input {
            vertical-align: middle;
        }
    }

    .fa-hourglass {
        color: $persistent;
    }

    .fa-lock {
        color: $exclusive;
    }

    .green-status-background {
        background-color: $greenbg;
    }

    .yellow-status-background {
        background-color: $yellowbg;
    }

    .red-status-background {
        background-color: $redbg;
    }



    .scene-tracker {
        display: grid;
        background-color: $white;
        width: fit-content;
        margin: 0 auto 10px auto;

        .green-spaces,
        .yellow-spaces,
        .red-spaces {
            display: flex;
        }

        .green-spaces-name,
        .yellow-spaces-name,
        .red-spaces-name {
            margin: 0;
            text-align: center;
            margin: auto 4px;

            h3 {
                font-weight: bold;
            }
        }

        .green-spaces-name {
            border-top: 3px solid $greentxt;
            color: $greentxt;
        }

        .yellow-spaces-name {
            border-top: 3px solid $yellowtxt;
            color: $yellowtxt;
        }

        .red-spaces-name {
            border-top: 3px solid $redtxt;
            color: $redtxt;
        }

        &-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 8px;

            h3 {
                margin: 0 4px;
            }

            select {
                margin: 0 4px;
            }
        }

        &-options {
            border-bottom: 1px dotted $black;
        }

        &-presets {
            border-top: 1px dotted $black;
        }

        &-title {
            display: flex;
            justify-content: center;

            h1 {
                border-bottom: none;
                margin: 6px 0 0 40px;
            }

            i {
                margin: 8px 0 0 6px;
                position: relative;
                right: 0;
            }
        }

        &-spaces {
            display: grid;
        }
    }

    .green-scene {
        polygon {
            fill: $greenbg-dark;
            stroke: $black;
            stroke-width: 1;
        }

        &-selected {
            polygon {
                fill: $greenfill;
                stroke: $black;
                stroke-width: 1;
            }
        }
    }

    .spaces {
        position: relative;

        label {
            position: absolute;
            top: 17px;
            left: 22px
        }
    }

    .yellow-scene {
        polygon {
            fill: $yellowbg-dark;
            stroke: $black;
            stroke-width: 1;
        }

        &-selected {
            polygon {
                fill: $yellowfill;
                stroke: $black;
                stroke-width: 1;
            }
        }
    }

    .red-scene {
        polygon {
            fill: $redbg-dark;
            stroke: $black;
            stroke-width: 1;
        }

        &-selected {
            polygon {
                fill: $redfill;
                stroke: $black;
                stroke-width: 1;
            }
        }
    }

    .initiative-tracker {
        background-color: white;
        width: 70%;
        margin: 0 auto;

        &-title {
            text-align: center;
            border: none;
            padding-top: 6px;
        }
    }

    .initiative {
        margin: 0 auto 6px auto;
        display: flex;

        .buttons {
            margin: auto 6px auto 0;
        }

        &-name {
            display: flex;
            border-bottom: 2px solid #000000;

            h3 {
                margin: 4px auto;
            }
        }

        &-name-available {
            h3 {
                margin: 4px 0 4px 27.5px;
            }
        }

        &-name-done {
            h3 {
                margin: 4px 0 4px 18px;
            }
        }
    }

    .available-title,
    .done-title {
        margin: 0 auto;
    }

    .initiative-available,
    .initiative-done {
        display: flex;
        flex-direction: column;

        background-color: $white;
        margin: 0 5px;
        width: 50%;
    }

    .initiative-available {
        .initiativeActor-item {
            background-color: $greenbg-light;
        }
    }

    .initiative-done {
        .initiativeActor-item {
            background-color: $redbg-light;
        }
    }

    .initiativeActor-item {
        margin: 8px 8px 0px 8px;
        display: grid;
        grid-template-columns: auto 25px;

        input {
            border-radius: 0;
        }

        a {
            margin: auto;
        }

        i {
            font-size: 20px;
        }
    }

    .initiativeActor-item:last-child {
        margin: 8px;
    }

    .deleteAllMods {
        margin-left: 5px;
    }

    .minion-group-name {
        width: 50%;
        display: grid;
        background-color: $miniontitle;
        grid-template-columns: auto 3.5rem 1.25rem 1.25rem 1.25rem;

        h3 {
            margin: 0;
        }
    }

    .minion-group-name-input {
        width: 100%;
        border-radius: 0;
        border: 0;
    }

    .minion-group-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .minion-count {
        display: flex;
        margin-bottom: 10px;

        h3 {
            font-weight: bold;
            margin: auto 0;
        }
    }
}