//Colors
$darkgreen: #00662f;
$darkyellow: #f16326;
$darkred: #7d1415;
$greenborder: #3eae4a;
$yellowborder: #c9b41b;
$redborder: #db363d;
$greenfill: #35973F;
$yellowfill: #F9EF2F;
$redfill: #d3252c;
$bluebg: #e8f2f8;
$greenbg: #b6d6aa;
$yellowbg: #faf5b1;
$orangebg: #fce1c7;
$redbg: #f8b7a8;
$graybg: #d8d8da;
$titleorange: #AA4618;
$titleyellow: #fbc015;
$titlegray: #57595b;
$titleblue: #232e63;
$titlegreen: #73b743;
$lightgray: #949595;
$inputlightgray: #767676;
$inputdarkgray: #565656;
$miniontitle: #cd5c5c;
$white: #ffffff;
$black: #000000;
$gray: #808080;
$lightgray: #d3d3d3;
$persistent: #2e8b57;
$exclusive: #cd5c5c;
$greentxt: #22622B;
$yellowtxt: #61570F;
$redtxt: #99242a;
$greenbg-light: #c4debb;
$yellowbg-light: #fbf7c1;
$redbg-light: #f9c6ba;
$greenbg-dark: #133F19;
$yellowbg-dark: #8B850E;
$redbg-dark: #3B0D0E;