{{!-- Sheet for displaying hero and villain type characters --}}
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-tabs tabs box-border" data-group="primary">
        {{#if (eq actor.type "hero")}}
        <a class="item" data-tab="info">{{ localize "SCRPG.tabs.heroInfo" }}</a>
        {{#if (eq actor.limited false)}}
        <a class="item" data-tab="powerabilities">{{ localize "SCRPG.tabs.powers" }}</a>
        <a class="item" data-tab="auxiliary">{{ localize "SCRPG.tabs.auxiliary" }}</a>
        {{/if}}
        {{/if}}

        {{#if (eq actor.type "villain")}}
        <a class="item" data-tab="info">{{ localize "SCRPG.tabs.villainInfo" }}</a>
        {{/if}}

        <a class="item" data-tab="minions">{{ localize "SCRPG.tabs.minions" }}</a>
    </nav>

    {{!-- Character Sheet Tab Content --}}
    <section class="sheet-body">
        {{!-- Hero Tab Content --}}
        {{#if (eq actor.type "hero")}}
        <div class="tab info" data-group="primary" data-tab="info">
            {{> "systems/scrpg/templates/partials/heroinfo.hbs"}}
            {{> "systems/scrpg/templates/partials/principles.hbs"}}
            {{> "systems/scrpg/templates/partials/issuescollections.hbs"}}
        </div>
        {{#if (eq actor.limited false)}}
        <div class="tab powerabilities" data-group="primary" data-tab="powerabilities">
            {{> "systems/scrpg/templates/partials/powerquality.hbs"}}
            {{#ifSetting "mod"}}
            {{> "systems/scrpg/templates/partials/mod.hbs"}}
            {{/ifSetting}}
            {{> "systems/scrpg/templates/partials/abilities.hbs"}}
        </div>
        <div class="tab auxiliary" data-group="primary" data-tab="auxiliary">
            {{> "systems/scrpg/templates/partials/auxiliary.hbs"}}
        </div>
        {{/if}}
        {{/if}}

        <div class="tab minions" data-group="primary" data-tab="minions">
            {{> "systems/scrpg/templates/partials/minions.hbs"}}
        </div>

        {{!-- Villain Tab Content --}}
        {{#if (eq actor.type "villain")}}
        <div class="tab info" data-group="primary" data-tab="info">
            {{> "systems/scrpg/templates/partials/heroinfo.hbs"}}
            {{> "systems/scrpg/templates/partials/powerquality.hbs"}}
            {{#ifSetting "mod"}}
            {{> "systems/scrpg/templates/partials/mod.hbs"}}
            {{/ifSetting}}
            {{> "systems/scrpg/templates/partials/abilities.hbs"}}
        </div>
        {{/if}}
    </section>
</form>