{{!-- Sheet for displaying minion forms --}}

<form class="{{cssClass}}" autocomplete="off">
    <header class="minion-form-title sheet-header">
        <h3 class="box-border villain-abilities"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'Name' }}" /></h3>
    </header>
    <div class="sheet-content minion-form-sheet">
        <table class="villain-abilities box-border">
            <tr>
                <th>{{localize "SCRPG.sheet.description"}}</th>
                {{#if (eq this.item.actor.system.type "hero")}}
                <th>{{localize "SCRPG.sheet.bonus"}}</th>
                {{/if}}
            </tr>
            <tr>
                {{!-- Minion form description --}}
                <td>
                    {{editor enrichedMinionFormSheetDescription target="system.description" button=true
                    editable=editable}}
                </td>
                {{!-- Bonus required to apply form --}}
                {{#if (eq this.item.actor.system.type "hero")}}
                <td class="top-align">
                    <select name="system.bonus">
                        {{#select item.system.bonus}}
                        {{#each config.bonus as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                {{/if}}
            </tr>
        </table>
    </div>
</form>